<section id="about">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                 <div class="col-lg-5 col-sm-12">
                    <img class="img-responsive" src="/img/services/slogan.png" alt="">
                </div>

                <div class="col-lg-5 col-sm-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="lead">                        
                        <p>Write the draft for the novel you always wanted to write.</p>                        
                        <p>Write at least 10 speeches that are five to seven minutes.</p>                        
                        <p>Write at least 25 blog post.</p>
                        <p>Make writing a part of your daily life.</p>
                        <p>All of this for 30 minutes per day.</p>                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
</section>
